.select
{
    width: 200px;
}
h1
{
    font-weight: bold;
    font-size: 45px;
    font-family: Times New Roman;
   
}
.button
{
    margin-top: 250px;
    border: 2px solid black;
    width: 700px;
    height: 200px;
    border-radius: 80px;
}
body{
    background-color: pink;
}